<phpunit backupGlobals="false"
         backupStaticAttributes="false" 
         cacheTokens="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="false">
    <filter>
        <whitelist>
            <directory>src/</directory>
        </whitelist>
    </filter>
    <testsuite name="unit">
        <directory>tests/unit/</directory>
    </testsuite>
</phpunit>
